.page-container {
    width: 100%;
    height: 100vh;
    /*background-image: url('/public/bg.png'); !* public 폴더 기준 상대 경로 *!*/
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}