.large-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #a0a096;
    max-width: 1200px;
    width: 95%;
    height: 700px; /* 큰 박스의 고정 높이 설정 */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤바 추가 */
}
.arrow {
    font-size: 24px;
    cursor: pointer;
    color: black;
    padding: 5px 10px;
    margin: 0 10px;
}

.current-date {
    font-size: 24px;
    margin: 0 20px;
}

.subject-task {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.subject,
.task {
    flex: 1;
    padding: 20px;
    margin: 0 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.subject h3,
.task h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}